
/*  Setting Varible  */

$collectionOneFontFamily:           'Archivo', sans-serif;
$collectionOneColor:                #fff;
$collectionOneBgColor:              #000;

$collectionOneBgImg:                'imagePath';
$collectionOneBgFillColor:          #000;
$collectionOneBgAdjustment:         cover;
$collectionOneCoverBg:              #000;
$collectionOneCoverBg:              #000;

$collectionFourFontFamily:           'Archivo', sans-serif;
$collectionFourColor:                #fff;
$collectionFourBgColor:              #000;

$collectionFourBgImg:                'imagePath';
$collectionFourBgFillColor:          #000;
$collectionFourBgAdjustment:         cover;
$collectionFourCoverBg:              #000;
$collectionFourCoverBg:              #000;
