
/*  Setting Varible  */

$collectionOneFontFamily:           'Archivo', sans-serif;
$collectionOneColor:                #fff;
$collectionOneBgColor:              #000;

$collectionOneBgImg:                'imagePath';
$collectionOneBgFillColor:          #000;
$collectionOneBgAdjustment:         cover;
$collectionOneCoverBg:              #000;
$collectionOneCoverBg:              #000;

