
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';


@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

$fontOxygen:               'Oxygen', sans-serif;
$fontOpenSans:             'Open Sans', sans-serif;

$color-primary-main:        #3A3A43;
$color-secondary-main:      #FFFFFF;
$color-Button:              #3A3A43;
$color-title-main:          #333646;

$default:                   #3A3A43;
$default-color:             $default;
$body-font :                $fontOpenSans;
$textColor:                 $default; 
$textBgColor:               #FFD400;


$profileThumbMarginB:       12px;
$profileImgBorderRadius:    0px;

$profileH1FontSize:         36px;
$profileH1FontColor:        $default-color;
$profileH1FontFamily:       $fontOxygen;
$profileH1FontWeight:       700;
$profileH1MarginB:          .25rem;

$profileH2FontSize:         18px;
$profileH2FontColor:        $default-color;
$profileH2FontWeight:       600;
$profileH1FontFamily:       $fontOxygen;

$profileH3FontSize:         18px;
$profileH3FontColor:        $default-color;
$profileH3FontWeight:       300;
$profileH3FontFamily:       $fontOxygen;

$profileH4FontSize:         14px;
$profileH4FontColor:        $default-color;
$profileH4FontFamily:       $fontOxygen;


$userIdFontSize:            13px;
$userIdFontColor:           $default-color;

$userDescFontSize:          14px;
$userDescFontColor:         $default-color;
$userDescMarginB:           .5rem;

$buttonLFontSize:           16px;
$buttonSFontSize:           14px;            
          
$socialListMarginBottom:    10px;     
$socialIconsColor:          $default-color;
$socialIconsFontSize:       $font-medium;

$likeWrapMarginB:           .25rem;
$statusWrapFontSize:        20px;
$statusWrapColor:           $default-color;
$likeLableFontSize:         12px;
$likeNumFontWeight:         700;

$backToTopFontSize:         18px;
$backToTopColor:            $default-color;

/*  Profile banner variable   */

$profile-banner-height       : 360px;

/* Tab variables   */

$tabItemColor:              $default-color;
$tabItemFontSize:           18px;
$tabBorderColor:            $color-primary-main;
$tabMarginB:                1.75rem;
$tabItemBorderColor:        $color-primary-main;
$tabItemBgColor:            transparent;
$tabItemBorderRadius:       16px 16px 0 0;
$tabItemMarginB:            3rem;
$tabItemHoverColor:         $white;
$tabItemHoverBorderColor:   $color-primary-main;
$tabItemHoverBgColor:       $color-primary-main;
$tabActiveColor:            $white;
$tabActiveBgColor:          $color-primary-main;
$tabActiveBorderColor:      $color-primary-main;
$tabActiveFontWeight:       normal; 
$TabOutlineColor:           $white;

/* Pagination Variables  */ 

$paginationMarginT:         30px; 
$paginationMarginB:         30px;        
$paginationColor:           $default-color;
$paginationBgColor:         rgba(255, 255, 255, 0.2);
$paginationBorderColor:     rgba(0, 0, 0, 0.06);
$paginationBorderRadius:    8px;
$paginationLineHeight:      38px;
$paginationActiveColor:     $white;
$paginationActiveBgColor:   $color-primary-main;
$paginationActiveBorderColor: $color-primary-main;
$paginationFontSize:        18px;


/* Collection Tab  Variables */

$thumbListMarginB:           .1rem;
$thumbListPadding:           0px;
$thumbListBorderColor:       transparent;
$thumbListHoverBorderColor:  transparent;
$thumbListBorderRadius:      0px;

$thumbImgMarginB:            0px;
$thumbImgBorderRadius:       transparent;
$thumbImgBorderColor:        transparent;
$thumbImgBorderHoverColor:   transparent;

$thumbInfoPadding:            .5rem;
$thumbInfoBgColor:            #fff;
$thumbInfoBgHoverColor:       $color-primary-main;
$thumbInfoBorderColor:        transparent;
$thumbInfoHoverBorderColor:   transparent;

$thumbTitleColor:             $default-color;
$thumbTitleHoverColor:        $default-color;
$thumbTitleSize:              16px;
$thumbTitleMarginB:           .5rem;
$thumbTitleFontWeight:        700;
$thumbAssetColor:             $default-color;
$thumbAssetSize:              16px;
$thumbDescColor:              $default-color;
$thumbDescSize:               14px;
$thumbDescMarginB:            .1rem;
$thumbDateColor:              $default-color;
$thumbDateSize:               14px;
$thumbWishCountColor:         $default-color;
$thumbWishCountSize:          16px;
$thumbWishColor:              $white;
$thumbWishSize:               24px;

/* Exhibition Tab Variables  */

$ExhibitionThumbListMarginB:           .1rem;
$ExhibitionThumbListPadding:           0px;
$ExhibitionThumbListBorderColor:       transparent;
$ExhibitionThumbListHoverBorderColor:  transparent;
$ExhibitionThumbListBorderRadius:      0px;

$ExhibitionThumbImgMarginB:            0px;
$ExhibitionThumbImgBorderRadius:       transparent;
$ExhibitionThumbImgBorderColor:        transparent;
$ExhibitionThumbImgBorderHoverColor:   transparent;

$ExhibitionThumbInfoPadding:            .5rem;
$ExhibitionThumbInfoBgColor:            #fff;
$ExhibitionThumbInfoBgHoverColor:       $color-primary-main;
$ExhibitionThumbInfoBorderColor:        transparent;
$ExhibitionThumbInfoHoverBorderColor:   transparent;

$ExhibitionThumbTitleColor:             $default-color;
$ExhibitionThumbTitleHoverColor:        $default-color;
$ExhibitionThumbTitleSize:              16px;
$ExhibitionThumbTitleMarginB:           .5rem;
$ExhibitionThumbTitleFontWeight:        700;
$ExhibitionThumbAssetColor:             $default-color;
$ExhibitionThumbAssetSize:              16px;
$ExhibitionThumbDescColor:              $default-color;
$ExhibitionThumbDescSize:               14px;
$ExhibitionThumbDescMarginB:            .1rem;
$ExhibitionThumbDateColor:              $default-color;
$ExhibitionThumbDateSize:               14px;
$ExhibitionThumbWishCountColor:         $default-color;
$ExhibitionThumbWishCountSize:          16px;
$ExhibitionThumbWishColor:              $white;
$ExhibitionThumbWishSize:               24px;

/* Assets Tab  Variables */

$assetThumbListMarginB:           .1rem;
$assetThumbListPadding:           0px;
$assetThumbListBorderColor:       transparent;
$assetThumbListHoverBorderColor:  transparent;
$assetThumbListBorderRadius:      0px;

$assetThumbImgMarginB:            0px;
$assetThumbImgBorderRadius:       transparent;
$assetThumbImgBorderColor:        transparent;
$assetThumbImgBorderHoverColor:   transparent;

$assetThumbInfoPadding:            .5rem;
$assetThumbInfoBgColor:            #fff;
$assetThumbInfoBgHoverColor:       $color-primary-main;
$assetThumbInfoBorderColor:        transparent;
$assetThumbInfoHoverBorderColor:   transparent;

$assetThumbTitleColor:             $default-color;
$assetThumbTitleHoverColor:        $default-color;
$assetThumbTitleSize:              16px;
$assetThumbTitleMarginB:           .5rem;
$assetThumbTitleFontWeight:        700;
$assetThumbAssetColor:             $default-color;
$assetThumbAssetSize:              16px;
$assetThumbDescColor:              $default-color;
$assetThumbDescSize:               14px;
$assetThumbDescMarginB:            .1rem;
$assetThumbDateColor:              $default-color;
$assetThumbDateSize:               14px;
$assetThumbWishCountColor:         $default-color;
$assetThumbWishCountSize:          16px;
$assetThumbWishColor:              $white;
$assetThumbWishSize:               24px;
$assetThumbPlaySize:               20px;



/*  Footer variables  */

$footerMarginT:                   75px;
$footerPaddingT:                  .75rem;
$footerPaddingB:                  1rem;
$footerBgColor:                   #fff;
$footerColor:                     $default-color;
$footerFontSize:                  $font-small;


.primayTextColor {
    background: $color-primary-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: auto;
    display: inline-block;
}