
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@300;700;900&display=swap');

$fontArchivo:              'Archivo', sans-serif;
$fontArchivoBold:          'Archivo Black', sans-serif;


$colorPrimaryone:           #00FF9D;
$colorPrimarytwo:           #00FFFF;
$colorPrimarythree:         #EE25FF;
$color-primary-main:        linear-gradient(101.12deg, $colorPrimaryone -25.01%, 
                                                        $colorPrimarytwo 36.27%, 
                                                        $colorPrimarythree 100.16%);
$color-Button:              linear-gradient(101.12deg, #00FF9D -25.01%, #00FFFF 36.27%, #EE25FF 100.16%);
$color-title-main:          linear-gradient(101.12deg, #00FF9D -25.01%, #00FFFF 36.27%, #EE25FF 100.16%);
$color-secondary-main:      #F5F5F5;
$default-color:             $default;


$toggleIconFontSize:         $font-xlarge;
$toggleIconColor:            $color-primary-main;
$toggleIconFontWeight:       normal;
$toggleIconMarginB:          40px;

$navDropdownBg:              $color-Button;
$navDropdownPadding:         .4rem 0;
$navDropdownItemColor:       $default;
$navDropdownItemPadding:     .8rem 1rem;
$navDropdownItemMarginB:     .2rem; 

$toggleTitleFontSize:        48px;
$toggleTitleColor:           $color-primary-main;
$toggleTitleFontWeight:      700;
$toggleTitleMarginB:         35px;

$textColor:                 $default; 
$textBgColor:               #FFD400;


$profileThumbMarginB:       .35rem;
$profileImgBorderRadius:    10px;

$profileH1FontSize:         32px;
$profileH1FontColor:        $white;
$profileH1FontFamily:       $fontArchivoBold;
$profileH1MarginB:          .75rem;

$profileH2FontSize:         18px;
$profileH2FontColor:        $white;
$profileH3FontWeight:       600;

$profileH3FontSize:         18px;
$profileH3FontColor:        $white;
$profileH3FontWeight:       300;

$profileH4FontSize:         14px;
$profileH4FontColor:        $white;

$userIdFontSize:            16px;
$userIdFontColor:           $white;

$userDescFontSize:          14px;
$userDescFontColor:         $white;
$userDescMarginB:           .5rem;

$buttonLFontSize:           16px;
$buttonSFontSize:           14px;            
          
$socialListMarginBottom:    50px;     
$socialIconsColor:          $white;
$socialIconsFontSize:       $font-medium;

$likeWrapMarginB:           .25rem;
$statusWrapFontSize:        20px;
$statusWrapColor:           $white;
$likeLableFontSize:         12px;
$likeNumFontWeight:         700;

$backToTopFontSize:         18px;
$backToTopColor:            $white;

/*  Profile banner variable   */

$profile-banner-height       : 360px;

/* Tab variables   */

$tabItemColor:              $white;
$tabItemFontSize:           20px;
$tabItemBorderColor:        $color-primary-main;
$tabItemBgColor:            transparent;
$tabItemBorderRadius:       4px;
$tabItemMarginB:            3rem;
$tabItemHoverColor:         $white;
$tabItemHoverBorderColor:   $color-primary-main;
$tabItemHoverBgColor:       $color-primary-main;
$tabActiveColor:            $white;
$tabActiveBgColor:          $color-primary-main;
$tabActiveBorderColor:      $color-primary-main;
$tabActiveFontWeight:       700; 
$TabOutlineColor:           $white;

/* Pagination Variables  */ 

$paginationMarginT:         40px; 
$paginationMarginB:         40px;        
$paginationColor:           $white;
$paginationBgColor:         rgba(255, 255, 255, 0.2);
$paginationBorderColor:     rgba(0, 0, 0, 0.06);
$paginationBorderRadius:    8px;
$paginationLineHeight:      38px;
$paginationActiveColor:     $textColor;
$paginationActiveBgColor:   $textBgColor;
$paginationActiveBorderColor: $textColor;
$paginationFontSize:        21px;

/* Exhibition Tab Variables  */

$exhibitionThumblistMarginB:     1rem;
$exhibitionThumblistBorderRadius:8px;
$exhibitionThumbImgBorderRadius: 8px;
$exhibitionThumbInfoPadding:     1rem;
$exhibitionThumbTitleColor:      $white;
$exhibitionThumbTitleSize:       1rem;
$exhibitionThumbTitleMarginB:    .25rem;
$exhibitionThumbTitleFontWeight: normal;
$exhibitionThumbAssetColor:      $default-color;
$exhibitionThumbAssetSize:       16px;
$exhibitionThumbDescColor:       #fff;
$exhibitionThumbDescSize:        14px;
$exhibitionThumbDescMarginB:     .5rem;
$exhibitionThumbDateColor:        $default-color;
$exhibitionThumbDateSize:         14px;
$exhibitionThumbWishCountColor:   $default-color;
$exhibitionThumbWishCountSize:    16px;
$exhibitionThumbWishColor:        $white;
$exhibitionThumbWishSize:         24px;

/* Collection Tab  Variables */

$thumblistMarginB:            1rem;
$thumbInfoPadding:            1rem;
$thumbTitleColor:             $white;
$thumbTitleSize:              2rem;
$thumbTitleMarginB:           1.5rem;
$thumbTitleFontWeight:        700;
$thumbAssetColor:             $default-color;
$thumbAssetSize:              16px;
$thumbDescColor:              #fff;
$thumbDescSize:               14px;
$thumbDescMarginB:            .5rem;
$thumbDateColor:              $default-color;
$thumbDateSize:               14px;
$thumbWishCountColor:         $default-color;
$thumbWishCountSize:          16px;
$thumbWishColor:              $white;
$thumbWishSize:               24px;

/* Assets Tab  Variables */

$assetThumblistMarginB:            1rem;
$assetThumblistBorderRadius:       8px;
$assetThumbImgBorderRadius:        8px;
$assetThumbInfoPadding:            .5rem;
$assetThumbInfoBg:                 transparent;
$assetThumbTitleColor:             #fff;
$assetThumbTitleSize:              16px;
$assetThumbTitleMarginB:           .25rem;
$assetThumbTitleFontWeight:        normal;
$assetThumbAssetColor:             $default-color;
$assetThumbAssetSize:              16px;
$assetThumbDescColor:              #fff;
$assetThumbDescSize:               14px;
$assetThumbDescMarginB:            0;
$assetThumbDateColor:              $default-color;
$assetThumbDateSize:               14px;
$assetThumbWishCountColor:         $default-color;
$assetThumbWishCountSize:          16px;
$assetThumbWishColor:              $white;
$assetThumbWishSize:               24px;
$assetThumbPlaySize:               20px;



/*  Footer variables  */

$footerMarginT:                   75px;
$footerPaddingT:                  .75rem;
$footerPaddingB:                  1rem;
$footerBgColor:                   #1B1B21;
$footerColor:                     #fff;


.primayTextColor {
    background: $color-primary-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: auto;
    display: inline-block;
}