
@import '../variables';

$border-color:#EAEAED;
$form-border-radius:5px;
/* Modal  */

$icon-color : #5F5F6D;
$border-active-color : #00CCA9;
$preview-btn-color : #3A3A43;

$leftnum-color :#5F5F6D;
$leftnum-font-size :12px;
$imglist-border-color :#ABABBA;
$imglist-active-border-color :#00CCA9;
$imglist-active-bg-color :#E9F6F7;




.title {
    color: $default-color; font-weight: normal;
    font-size: 2rem;
}
.titleWrap {
    margin-bottom: 2.5rem; text-align: center;
    p {
        font-size: 14px;
    }
}
.tab, .nav  {
	margin-bottom: 1.5rem;
}

.formGroup {
	margin-bottom: 1rem;
}
.formControl {
	border: 1px solid $border-color;
	padding: .75rem; border-radius: $form-border-radius;
}

/* Theme thumb  */

.thumblist {
	margin-bottom: 2.25rem;
	border-radius: 16px;
	border: 2px solid transparent;
	transition: all 0.4s ease-in-out;
	&.active, &:hover {
		border-color: $active-theme-border-color;
	}
	&:hover {
		.thumbImg {
			img {
				opacity: .8;
			}
		}
	}
}
.thumbImg {
	a {
		img {
			border-radius: 16px 16px 0px 0px;
			transition: all 0.4s ease-in-out;
		}
	}
}
.thumbInfo {
	padding: .5rem .75rem;
}
.thumbTitle {
	font-size: $theme-thumb-title-size;
	color: $theme-thumb-title-color;
	margin-bottom: .75rem;
	a {
		color: $theme-thumb-title-color;
		&:hover {
			color: $link-hover-color;
		}
	}
}
.btnGroup {
	display: flex; flex-wrap: wrap;
	justify-content: space-between;
	.btn {
		min-width: 46%; position: relative;
		input[type="radio"] {
			position: absolute; opacity: 0;
		}
	}
	.faeye {
		margin-right: .2rem;
	}
}

.imgLIst {
	list-style: none; padding-left: 10px;
	padding-top: 5px;
	display: flex; flex-wrap: wrap;
	border-top: 1px solid $border-color;
	margin-top: .5rem;
	li {
		position: relative; margin: 7px;
		border: 2px solid $imglist-border-color;
		border-radius: 8px; padding: 5px;
		input[type="radio"] {
			position: absolute; left: 0;
			opacity: 0;
		}
		label {
			display: block;
		}
		&.active, &:hover {
			background: $imglist-active-bg-color;
			border-color: $imglist-active-border-color;
		}
	}
	.Addimg {
		font-size: 40px; line-height: 90px; font-weight: 100;
		min-width: 80px; text-align: center;
	}
}



.modalLg {
	> div {
		max-width: 990px;
	}
}

.searchModal {
	position: relative;
	input {
		padding-left: 45px;
	}
	button {
		position: absolute; color: $icon-color;
	}
}

.fontItemList {
	border: 2px solid $border-color; border-radius: 16px;
	margin-bottom: 1.5rem; position: relative;
	transition: all 0.4s ease-in-out;
	input[type="radio"] {
		position: absolute; opacity: 0;
	}
	&.active, &:hover {
		border-color: $border-active-color;
	}
}
.fontNamePreview {
	padding: .75rem; 
}
.topFontStyle {
	display: flex;  justify-content: space-between;
	width: 100%; font-size: 12px;
	margin-bottom: .75rem;
}
.fLeft {
	h3 {
		font-size:18px; margin-bottom: .1rem;
	}
}
.fontBtnSelect {
	border-top: 1px solid $border-color;
	padding: .75rem; color: $preview-btn-color;
	h3  {
		font-size: 18px;
	}
}
.btnsRow {
	display: flex; justify-content: space-between;
	button {
		min-width: 40%;
	}
}


