
@import '../variable';

.progress {
    width: 100%; margin: 0 15px;
    height: 9px; background: $progress-wrap-bg-color;
    border: 1px solid $progress-wrap-border-color;
    border-radius: 4px; overflow: hidden;
}
.progressbar {
    background: $progress-bg-color; padding: 15px 0;
    margin-bottom: 2rem; margin-top: -30px;
    button {
        white-space: nowrap;
    }
}
.progressBarbg {
    background-color: $progress-default-bg-color !important; 
    transition: all 0.5s ease-in-out;
}   
.progressInner {
    display: flex; align-items: center;
    justify-content: space-between;
}


.backThemename {
    display: inline-flex; align-items: center;
    button {
        margin-right: 1rem;
    }
    h2 {
        font-size: 20px; font-weight: normal;
        margin-bottom: 0;
    }
}
.headerBtnGroup {
    button {
        margin-left: 1rem;
        svg {
            margin-right: .25rem;
        }
    }
}
.statusButton {
    display: inline-block;
    border-right: 1px solid $border;  
    padding-right: 1rem;  
}
