@import './variables/global';


.collectionOne {
  color: $collectionOneColor;
  background: $collectionOneBgFillColor url(../public/collections/collections001/images/body.png) center center;
  background-repeat: repeat;
  background-size: $collectionOneBgAdjustment;
  background-color: $collectionOneBgColor;
  font-family: $collectionOneFontFamily;
}

