
@import '../variables';


.selectedItemImg{
	background: $imglist-active-bg-color;
	border: 2px solid $imglist-active-border-color;
	border-radius: 8px; padding: 5px; display: inline-block;
}
.leftnumber{
	font-size: $leftnum-font-size; color: $leftnum-color;
	text-align: right; margin-top: .25rem;
}
.imageStyleSelect {
	border-top: 1px solid $border;
    padding-top: 10px; padding-left: 10px;
    padding-bottom: 5px;
    align-items: center;
}
