@import './variables/colors';
@import './variables/mixin';
@import './variables/text_link';


.uploadWrap {
    border: 1px solid $border;
    padding: 1rem;
    border-radius: 8px;
}

.labelHead {
    margin-bottom: 1rem;
    font-size: $font-medium;
}
.thumbWrap {
    border: 1px solid $border;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    position: relative;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    .profileImg {
        object-fit: contain;
    }

}

.verticallyImg {
    object-fit: cover;
}
.horizantalImg {
    object-fit: cover;
}
.coverImg {
    object-fit: cover;
}
.originalImg {
    object-fit: none;
}



.uploadList {
    list-style: none;
    margin: 0 -8px; padding: 0;
    @include flex;
    flex-wrap: wrap;
    li {
        border: 2px solid $border;
        border-radius: 8px;
        margin: 8px;
        padding: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 100px; max-width: 100px;
        text-align: center; position: relative;
        svg {
            vertical-align: middle;
            color: #ABABBA;
        }
        input[type="file"] {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
          }
    }
}

.listNote {
    font-size: $font-normal;
    margin-top: 8px;
    color: $grayLight;
}
.lineHr {
    border: 1px solid $border;
}

.btnsWrap {
    button {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}


.btnGroup {
    display: flex;
    justify-content: space-between;
}

.uploadThumb {
    border: 2px solid $border;
    border-radius: 8px;
    padding: 1rem;
    height: 100%;
    text-align: center;
    svg {
        vertical-align: middle;
        color: $gray;
        height: 100%;
        font-size: $font-large;
    }
}


.captionName {
    font-size: $font-medium;
}


.accHead {
   font-size: $font-xlarge;
   margin-bottom: 40px;
   font-weight: 400;

}

.headDesc {
    font-size: $font-small;
    margin-bottom: 24px;
} 
.socialText {
    margin-left: 14px;
}

.profileImgWrap {
    @include flex;
    @include align-items(center);
}
.profileImg {
    border-radius: 12px;
}

.fileupload {
	position: relative;
	overflow: hidden;
	@include inline-flex;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
    margin-left: 60px;
	input[type="file"] {
	  position: absolute;
	  opacity: 0;
	  width: 100%;
	  line-height: 60px;
	}
	.lableFile, .btnBorder {
	  cursor: pointer;
	}
	&:hover {
		.lable-file, .btnBorder {
			background-color: $gray-900;
		}
	}
}

.uploadText {
    text-transform: uppercase;
    font-size: $font-mini;
}

.charCount {
    text-align: right;
    margin-top: 5px;
    font-size: $font-mini;
    margin-bottom: 1rem;
}

.headNote {
    font-size: $font-small;
}