

@import '../../public/variables/colors';
@import '../../public/variables/text_link';
@import '../../public/variables/mixin';

$default       : #3A3A43;
$default-color : $default;
$border        : #EAEAED;
$border-color  : $border;


$textColor:                 #3A3A43;
$textBgColor:               #FFD400;

$profileH1FontSize:         38px;
$profileH1FontColor:        $textColor;

$profileH2FontSize:         21px;
$profileH2FontColor:        $textColor;

$profileH3FontSize:         23px;
$profileH3FontColor:        $textColor;

$profileH4FontSize:         14px;
$profileH4FontColor:        $textColor;

$socialIconsColor:          $textColor;
$socialIconsFontSize:       $textColor;

$statusWrapFontSize:        23px;
$statusWrapColor:           $textColor;

$TabsColor:                 $textColor;
$TabsFontSize:              21px;

$PaginationColor:           $textColor;
$PaginationBgColor:         #FFFFFF;
$PaginationActiveColor:     $textColor;
$PaginationActiveBGColor:   $textBgColor;
$PaginationFontSize:        21px;

$boderColor:                $textColor;

$btnActiveColor:            $textColor;
$btnActiveBgColor:          $textBgColor;


/*Thumbs Style assets */

$assetsBgColor:             #F5F5F5;

$title-font-size          : 2rem;
$title-font-weight        : normal;
$title-color              : $default-color;
$title-desc-font-size     : 14px;
$title-desc-color         : #5F5F6D;

// Thumb list in collection 

$link-hover-color :#4400CD;

$default-color       : #3A3A43;
$thumb-title-color   :$default-color;
$thumb-title-size    :20px;
$thumb-asset-color   :$default-color;
$thumb-asset-size    :16px;
$thumb-desc-color    :#5F5F6D;
$thumb-desc-size     :12px;
$thumb-date-color    :$default-color;
$thumb-date-size     :14px;
$thumb-wish-count-color :$default-color;
$thumb-wish-count-size :16px;
$thumb-wish-color    :#5F5F6D;
$thumb-wish-size     :14px;

$publish-lbl-color:  #fff;
$publish-lbl-size:  14px;
$publish-lbl-bg-color:$default-color;

$circle-border-color:#fff;
$publish-bg-color: #30CD60;
$unpublish-bg-color:#fff;
$draft-bg-color:#FFA940;


/* Theme variable */
$theme-thumb-title-color   : $default-color;
$theme-thumb-title-size    : 20px;
$theme-img-border-radius   : 16px 16px 0px 0px;
$theme-border-color        : #fff;
$active-theme-border-color : #00CCA9;

$checkitem-bg-color        : #fff;
$checkitem-color           : #00CCA9;

/* collection info variable  */

$leftnum-color             : #5F5F6D;
$leftnum-font-size         : 12px;
$imglist-border-color      : $border;
$imglist-active-border-color :#00CCA9;
$imglist-active-bg-color   : #E9F6F7;

$imglist-border-color    : #ABABBA;
$imglist-border-active-color : #00CCA9;
$imgCrop-title-font-size : 18px;
$imgCrop-title-color     : #5F5F6D;

$form-border-radius        : 5px;
$border                    : #EAEAED;


/*  Table  */
$default-color             : $default;
$td-color                  : $default;
$thead-bgcolor             : #F8F5FF;
$td-link-color             : #4726D9;
$tr-row-bg-color           : #FAFAFC;

$icon-color : #5F5F6D;
$border-active-color : #00CCA9;
$preview-btn-color : #3A3A43;