
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@300;700;900&display=swap');

$fontArchivo:              'Archivo', sans-serif;
$fontArchivoBold:          'Archivo Black', sans-serif;



$color-primary-main:        hsla(157, 100%, 50%, 1)hsla(180, 100%, 50%, 1)
                            hsla(295, 100%, 57%, 1);
$color-Button:              hsla(157, 100%, 50%, 1)hsla(180, 100%, 50%, 1)
                            hsla(295, 100%, 57%, 1);
$color-title-main:          hsla(157, 100%, 50%, 1)hsla(180, 100%, 50%, 1)
                            hsla(295, 100%, 57%, 1);
$color-secondary-main:      #F5F5F5;
$default-color:             $default;

$textColor:                 $default; 
$textBgColor:               #FFD400;

$boderColor:                $textColor;
$btnActiveColor:            $textColor;
$btnActiveBgColor:          $textBgColor;

$profileThumbMarginB:       1.35rem;

$profileH1FontSize:         48px;
$profileH1FontColor:        $white;
$profileH1FontFamily:       $fontArchivoBold;
$profileH1MarginB:          .5rem;

$profileH2FontSize:         36px;
$profileH2FontColor:        $white;
$profileH3FontWeight:       600;

$profileH3FontSize:         32px;
$profileH3FontColor:        $white;
$profileH3FontWeight:       300;

$profileH4FontSize:         24px;
$profileH4FontColor:        $white;

$userIdFontSize:            16px;
$userIdFontColor:           $white;

$userDescFontSize:          14px;
$userDescFontColor:         $white;
$userDescMarginB:           1rem;

$buttonLFontSize:           16px;
$buttonSFontSize:           14px;            
          
$socialListMarginBottom:    50px;     
$socialIconsColor:          $white;
$socialIconsFontSize:       $font-medium;

$likeWrapMarginB:           55px;
$statusWrapFontSize:        20px;
$statusWrapColor:           $white;
$likeLableFontSize:         12px;
$likeNumFontWeight:         700;

/*  Profile banner variable   */

$profile-banner-height       : 360px;

/* Tab variables   */

$tabItemColor:              $white;
$tabItemFontSize:           20px;
$tabItemBorderColor:        $color-primary-main;
$tabItemBgColor:            transparent;
$tabItemBorderRadius:       4px;
$tabItemMarginB:            3rem;
$tabItemHoverColor:         $white;
$tabItemHoverBorderColor:   $color-primary-main;
$tabItemHoverBgColor:       $color-primary-main;
$tabActiveColor:            $white;
$tabActiveBgColor:          $color-primary-main;
$tabActiveBorderColor:      $color-primary-main;
$tabActiveFontWeight:       700; 
$TabOutlineColor:           $white;

/* Pagination Variables  */ 

$paginationMarginT:         40px; 
$paginationMarginB:         40px;        
$paginationColor:           $textColor;
$paginationBgColor:         #FFFFFF;
$paginationBorderColor:     $textColor;
$paginationLineHeight:      38px;
$paginationActiveColor:     $textColor;
$paginationActiveBgColor:   $textBgColor;
$paginationActiveBorderColor: $textColor;
$paginationFontSize:        21px;

/* Exhibition Tab Variables  */

$exhibitionThumblistMarginB:     1rem;
$exhibitionThumbInfoPadding:     1rem;
$exhibitionThumbTitleColor:      $white;
$exhibitionThumbTitleSize:       2rem;
$exhibitionThumbTitleMarginB:    1.5rem;
$exhibitionThumbTitleFontWeight: 700;
$exhibitionThumbAssetColor:      $default-color;
$exhibitionThumbAssetSize:       16px;
$exhibitionThumbDescColor:       #fff;
$exhibitionThumbDescSize:        14px;
$exhibitionThumbDescMarginB:     .5rem;
$exhibitionThumbDateColor:        $default-color;
$exhibitionThumbDateSize:         14px;
$exhibitionThumbWishCountColor:   $default-color;
$exhibitionThumbWishCountSize:    16px;
$exhibitionThumbWishColor:        $white;
$exhibitionThumbWishSize:         24px;

/* Collection Tab  Variables */

$thumblistMarginB:            1rem;
$thumbInfoPadding:            1rem;
$thumbTitleColor:             $white;
$thumbTitleSize:              2rem;
$thumbTitleMarginB:           1.5rem;
$thumbTitleFontWeight:        700;
$thumbAssetColor:             $default-color;
$thumbAssetSize:              16px;
$thumbDescColor:              #fff;
$thumbDescSize:               14px;
$thumbDescMarginB:            .5rem;
$thumbDateColor:              $default-color;
$thumbDateSize:               14px;
$thumbWishCountColor:         $default-color;
$thumbWishCountSize:          16px;
$thumbWishColor:              $white;
$thumbWishSize:               24px;

/* Assets Tab  Variables */

$assetThumblistMarginB:            1rem;
$assetThumbInfoPadding:            1rem;
$assetThumbInfoBg:                 $white;
$assetThumbTitleColor:             $default-color;
$assetThumbTitleSize:              20px;
$assetThumbTitleMarginB:           1.5rem;
$assetThumbTitleFontWeight:        700;
$assetThumbAssetColor:             $default-color;
$assetThumbAssetSize:              16px;
$assetThumbDescColor:              $default-color;
$assetThumbDescSize:               14px;
$assetThumbDescMarginB:            0;
$assetThumbDateColor:              $default-color;
$assetThumbDateSize:               14px;
$assetThumbWishCountColor:         $default-color;
$assetThumbWishCountSize:          16px;
$assetThumbWishColor:              $white;
$assetThumbWishSize:               24px;
$assetThumbPlaySize:               20px;
