
@import 'variables/mixin';

// Thumbs Style assets

$assetsBgColor            : #F5F5F5;
$default-color            : #3A3A43;
$link-hover-color         : #4400CD;
$white                    : #fff;
$border                   : #EAEAED;

$font-micro:				0.625rem; // 10px;
$font-mini:				 	0.75rem; // 12px;
$font-small:				0.875rem; // 14px;
$font-normal:				1rem;	// 16px;
$font-medium:				1.125rem; // 18px;
$font-large:				1.5rem;  // 24px;
$font-xlarge:				2rem;  // 32px;
$font-xllarge:				2.25rem;  // 36px;
$font-xxllarge:				2.5rem;  // 40px;
$font_title-large 			:3rem; // 48px;


/* Thumb list Variable */

$thumb-border-radius       :16px;
$thumb-img-border-radius   :16px 16px 0 0;

$thumb-title-color         : $default-color;
$thumb-title-size          : 20px;
$thumb-title-font-weight   : 700;

$thumb-asset-color         : $default-color;
$thumb-asset-size          : 16px;
$thumb-asset-font-weight   : 700;

$thumb-desc-color          : #5F5F6D;
$thumb-desc-size           : 12px;

$thumb-date-color          : $default-color;
$thumb-date-size           : 14px;

$thumb-wish-count-color    : $default-color;
$thumb-wish-count-size     : 16px;
$thumb-wish-color          : #5F5F6D;
$thumb-wish-size           : 14px;

$publish-lbl-color         : #fff;
$publish-lbl-size          : 14px;
$publish-lbl-bg-color      : $default-color;

$circle-border-color       : #fff;
$circle-border-radius      : 8px;
$publish-bg-color          : #30CD60;
$unpublish-bg-color        : #fff;
$draft-bg-color            : #FFA940;

/* Theme page variable */

$theme-thumb-img-border-radius : 16px 16px 0 0;

$theme-thumb-title-color   : $default-color;
$theme-thumb-title-size    : 20px;
$theme-thumb-border-radius : 16px;
$theme-border-color        : #EAEAED;
$active-theme-border-color : #00CCA9;

$check-font-size           : 16px;
$check-color               : #000;
$check-bg-color            : #000;
$checkitem-bg-color        : #fff;
$checkitem-color           : #00CCA9;

/*  Progressbar variable */

$title-font-size          : 2rem;
$title-color              : $default-color;
$title-desc-font-size     : 14px;
$title-desc-color         : #5F5F6D;

$progress-bg-color            : #F8F5FF;
$progress-border-bg-color     : #ABABBA;
$progress-border-radius       : 4px;
$progressbar-bg-color         : #FAFAFC;
$progress-active-bg-color     : #00CCA9;


/* Check icon  */

$form-border-radius       : 6px;
/* Modal  */

$icon-color : #5F5F6D;
$border-active-color : #00CCA9;
$preview-btn-color : #3A3A43;

$leftnum-color :#5F5F6D;
$leftnum-font-size :12px;
$imglist-border-color :#ABABBA;
$imglist-active-border-color :#00CCA9;
$imglist-active-bg-color :#E9F6F7;

/**/
$leftnum-color :#5F5F6D;
$leftnum-font-size :12px;
$imglist-border-color :#ABABBA;
$imglist-active-border-color :#00CCA9;
$imglist-active-bg-color :#E9F6F7;

$border-color:$border;
$form-border-radius:5px;

$imglist-border-color    : #ABABBA;
$imglist-border-active-color : #00CCA9;
$imgCrop-title-font-size : 18px;
$imgCrop-title-color     : #5F5F6D;

/* Form  */



$border-color:#EAEAED;
$form-border-radius:5px;

$imglist-border-color    : #ABABBA;
$imglist-border-active-color : #00CCA9;
$imgCrop-title-font-size : 18px;
$imgCrop-title-color     : #5F5F6D;
