
@import '../variables';

.title {
    color: $title-color; font-weight: normal;
    font-size: $title-font-size ;
}
.titleWrap {
    margin-bottom: 1.5rem; 
    p {
        font-size: $title-desc-font-size;
        color: $title-desc-color;
    }
}
.textCenter {
    text-align: center;
}
.formGroup {
    margin-bottom: 1rem;
}
.formControl {
    border: 1px solid $border;
    padding: .75rem; border-radius: $form-border-radius;
}
.toggleContent {
	/*display: none;*/ margin-top: .5rem;
}
.imgLIst {
	list-style: none; padding-left: 10px;
	padding-top: 5px;
	display: flex; flex-wrap: wrap;
	border-top: 1px solid $imglist-border-color;
	li {
		position: relative; margin: 7px;
		border: 2px solid $imglist-border-color;
		border-radius: 8px; padding: 5px;
		input[type="radio"] {
			position: absolute; left: 0;
			opacity: 0;
		}
		label {
			display: block;
		}
		&.active, &:hover {
			background: $imglist-active-bg-color;
			border-color: $imglist-active-border-color;
		}
	}
	.addImg {
		font-size: 40px; line-height: 90px; font-weight: 100;
		min-width: 80px; text-align: center;
	}
}

.recomoensizeLbl {
	font-size: $leftnum-font-size; color: $leftnum-color;
	padding-left: 10px; margin-top: .25rem;
}
.leftnumber{
	font-size: $leftnum-font-size; color: $leftnum-color;
	text-align: right; margin-top: .25rem;
}
.imageStyleSelect {
	border-top: 1px solid $border;
    padding-top: 10px; padding-left: 10px;
    padding-bottom: 5px;
    align-items: center;
}


@media all and (max-width: 767px) {

	.formGroup {
		label {
	    	margin-bottom: .25rem;
	    }
	}


}