// @import '../../main_theme/component/groupvariable';
// @import '../../main_theme/component/mixin';

/*.collectionWrap {
    background-color: #FFD400;
    padding-top: 22px;
    padding-bottom: 22px;
}
.collectionTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headWrap {
    display: flex;
    align-items: center;
    h1 {
        font-weight: bold;
    }
    span {
        margin-left: 32px;
        color: #8D8D8D;
    }
}
.collectionContent {
    padding-top: 48px;
    padding-bottom: 100px;
    max-width: 512px;
}


.thumbsItem {
    display: inline-block;
    img {
        display: block;
        width: 100%;
        object-fit: cover;

    }
}
.thumbsWrap {
    background-color: #FFFFFF;
    //@include box_shadow(1);
    text-align: center;
}
.thumbsContent {
    text-align: center;
    p {
        padding: 12px;
        margin-bottom: 0;
        background-color: #FFFFFF;
        font-size: 0.85rem;
    }
}

.seeMore {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 1.5rem;
    transition: all 0.5s;
    cursor: pointer;
    color: #000000;
    &:hover {
        color: #354F66;
    }
}*/