
@import '../../../public/account/variables/colors';
@import '../../../public/account/variables/forms';
@import '../../../public/account/variables/mixin';
@import '../../../public/account/variables/text_link';

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@300;700;900&display=swap');

$fontArchivo:              'Archivo', sans-serif;
$fontArchivoBold:          'Archivo Black', sans-serif;


$color-primary-main:        #FF4755;
$color-secondary-main:      #ECE8E1;
$color-Button:              #FF4755;
$color-title-main:          $white;
$color-secondary-main:      #FBFBFB;
$default-color:             $default;


$textColor:                 $default;
$textBgColor:               #FFD400;

$boderColor:                $textColor;
$btnActiveColor:            $textColor;
$btnActiveBgColor:          $textBgColor;

$profileThumbMarginB:       1.35rem;

$profileH1FontSize:         36px;
$profileH1FontColor:        $white;
$profileH1FontFamily:       $fontArchivoBold;
$profileH1MarginB:          .5rem;

$profileH2FontSize:         24px;
$profileH2FontColor:        $white;
$profileH3FontWeight:       600;

$profileH3FontSize:         18px;
$profileH3FontColor:        $white;
$profileH3FontWeight:       300;

$profileH4FontSize:         16px;
$profileH4FontColor:        $white;

$userIdFontSize:            16px;
$userIdFontColor:           $white;

$userDescFontSize:          14px;
$userDescFontColor:         $white;
$userDescMarginB:           1rem;

$buttonLFontSize:           16px;
$buttonSFontSize:           14px;            
          
$socialListMarginBottom:    50px;     
$socialIconsColor:          $white;
$socialIconsFontSize:       $font-medium;

$likeWrapMarginB:           55px;
$statusWrapFontSize:        20px;
$statusWrapColor:           $white;
$likeLableFontSize:         12px;
$likeNumFontWeight:         700;

/*  Profile banner variable   */

$profile-banner-height       : 360px;

/* Tab variables   */

$tabItemColor:              $white;
$tabItemFontSize:           20px;
$tabItemBorderColor:        $color-primary-main;
$tabItemBgColor:            transparent;
$tabItemBorderRadius:       4px;
$tabItemMarginB:            3rem;
$tabItemHoverColor:         $white;
$tabItemHoverBorderColor:   $color-primary-main;
$tabItemHoverBgColor:       $color-primary-main;
$tabActiveColor:            $white;
$tabActiveBgColor:          $color-primary-main;
$tabActiveBorderColor:      $color-primary-main;
$tabActiveFontWeight:       700; 
$TabOutlineColor:           $white;

/* Pagination Variables  */ 

$paginationMarginT:         40px; 
$paginationMarginB:         40px;        
$paginationColor:           $textColor;
$paginationBgColor:         #FFFFFF;
$paginationBorderColor:     $textColor;
$paginationLineHeight:      38px;
$paginationActiveColor:     $textColor;
$paginationActiveBgColor:   $textBgColor;
$paginationActiveBorderColor: $textColor;
$paginationFontSize:        21px;

/* Exhibition Tab Variables  */

$exhibitionPaddingT:         1rem;
$exhibitionPaddingB:         1rem;
$exhibitionItemTitleColor:   $white; 
$exhibitionItemTitleBgColor: $textBgColor;   
$exhibitionItemTitleFontsize:2rem; 
$exhibitionItemTitleColor:   $white;
$exhibitionItemTitlePadding: 1rem; 
$exhibitionItemMarginB:      2rem;

/* Collection Tab  Variables */

$thumblistMarginB:            1rem;
$thumbInfoPadding:            1rem;
$thumbTitleColor:             $white;
$thumbTitleSize:              2rem;
$thumbTitleMarginB:           1.5rem;
$thumbTitleFontWeight:        700;
$thumbAssetColor:             $default-color;
$thumbAssetSize:              16px;
$thumbDescColor:              #fff;
$thumbDescSize:               14px;
$thumbDescMarginB:            1rem;
$thumbDateColor:              $default-color;
$thumbDateSize:               14px;
$thumbWishCountColor:         $default-color;
$thumbWishCountSize:          16px;
$thumbWishColor:              $white;
$thumbWishSize:               24px;

/* Assets Tab  Variables */

$assetsPaddingT:              1rem;
$assetsPaddingB:              1rem;
$assetsItemGap:               1rem;
$assetItemBgColor:            $white;
$assetItemAlign:              center;         
$assetsItemBorderColor:       $textColor;
$assetsItemBorderBgColor:     #F5F5F5;
$assetsItemBorderRadius:      4px;
$assetItemImgPadding:         8px;
$assetItemContentAlign:       center;
$assetItemTitleColor:         $default;
$assetItemTitleFontSize:      $font-large;
$assetItemTitleLineHeight:    1.3;
$assetItemDescPadding:        12px;
$assetItemDescFontSize:       80px;
$assetItemColor:              $default;
$assetItemDescBgColor:        $white;
$assetItemDescHeight:         80px;



